*   {
    padding: 0;
    margin: 0; 
}

.caixa {
    background-color: red;
    color: #45ce70;
    font-size: 36px;
}
.texto-destaque {
    font-weight: 900;
    color: blue;
}
.exercicio {
    color: rgb(0, 0, 255);
}

#a1 {
    border: 5px dashed rebeccapurple;
}
